body {
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    row-gap: 15px;
}

img {
    width: 260px;
    height: 260px;
    margin-bottom: 20px;
}

button {
    color: white;
    width: 260px;
    height: 40px;
    border: none;
    background-color: #000;
    font-size: 24px;
    border-radius: 2px;
}

input {
    color: #000;
    height: 40px;
    width: 252px;
    border-radius: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
.dropdown:hover .dropdown-content {
  display: block;
}
