body {
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    row-gap: 15px;
}

img {
    width: 260px;
    height: 260px;
    margin-bottom: 20px;
}

button {
    color: white;
    width: 260px;
    height: 40px;
    border: none;
    background-color: #000;
    font-size: 24px;
    border-radius: 2px;
}

input {
    color: #000;
    height: 40px;
    width: 252px;
    border-radius: 2px;
}