  <div
    class="min-h-screen bg-white py-6 flex flex-col justify-center sm:py-12"
  >
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div class="relative px-3 py-3 bg-white shadow-2xl sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
          <div class="max-w-md mx-auto">
            <img src="../img/nebulark-icon.png" class="max-w-md mx-auto" />
          </div>
            <div
              class="pt-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
            >
              <button class="max-w-md mx-auto bg-blue-700 rounded-lg w-full text-white" type="button" event:click="next()">New Nebula</button>
            </div>
            <div class="py-2 text-center text-blue-700 opacity-70">OR</div>
            <div
              class="text-base leading-6 font-bold sm:text-lg sm:leading-7"
            >
              <input class="max-w-md rounded-lg w-full mx-auto border-2" type="text" html:change="nebulaID" html:value="nebulaID" placeholder=" Got a key? Type it here!"></input>
            </div>
        </div>
      </div>
    </div>
  </div>
  

  <style>
    .active {
  display: block;
}
  </style>