  <div
    class="min-h-screen start-background py-6 flex flex-col justify-center sm:py-12"
  >
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div class="relative px-3 py-3 bg-white shadow-2xl sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
          <div class="max-w-md mx-auto flex flex-row items-center">
            <img src="../img/webnetes-icon.png" class="h-36 w-36" />
            <h1 class="text-black text-5xl mb-8">webenetes</h1>
          </div>
            <p class="text-black text-center text-sm mb-4">Peer-to-Peer Computing Platform for the Browser and Node.</p>
            <div class="flex flex-col items-center">
             <i class="fas fa-plus text-black text-4xl text-center"></i>  
             <p class="text-sm text-black font-bold">Start solving problems together
              You'll be the manager.
              </p>
              <p class="text-sm text-black mb-4">You'll be the manager.
                </p>
            </div>
            <div
            class="text-base leading-6 font-bold sm:text-lg sm:leading-7">
            <input class="max-w-md rounded-lg w-full mx-auto border-2" type="text" html:change="clusterID" html:value="clusterID" placeholder="New Cluster ID "></input>
          </div>
          <p class="text-white w-full bg-blue-500 text-white py-2 rounded font-bold text-center hover:bg-blue-700 mt-2">Create Cluster</p>
            <div class="py-2 text-center text-black">OR</div>
            <div class="flex flex-col items-center">
              <i class="fas fa-handshake text-black text-4xl text-center"></i>  
              <p class="text-sm text-black font-bold">Participate in a cluster
               </p>
               <p class="text-sm text-black mb-4">You'll be a worker.
                 </p>
             </div>
            <div
              class="text-base leading-6 font-bold sm:text-lg sm:leading-7"
            >
              <input class="max-w-md rounded-lg w-full mx-auto border-2" type="text" html:change="clusterID" html:value="clusterID" placeholder="Cluster ID "></input>
            </div>
            <p
            class="text-white w-full bg-blue-500 text-white py-2 rounded font-bold text-center hover:bg-blue-700 mt-2 mb-4"
          >
            Join Cluster
          </p>
          <p class="text-black text-sm text-center"><i class="fas fa-question-circle"></i> Not sure what to do? <a class="text-blue-700" href="https://docs.webnetes.dev/" rel="noopener noferrer">Read the docs!</a></span></p>
        </div>
      </div>
    </div>
  </div>
  

  <style>
    .active {
  display: block;
}
  </style>