<!DOCTYPE html>
<html lang="en" class="text-gray-900 leading-tight">
  <head>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <!-- ... -->
  <body class="min-h-screen bg-indigo-300">
    <!-- ... -->

    <div
      class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
    >
      <div class="md:flex mx-4">
        <div class="md:flex-shrink-0">
          <img
            class="mt-4"
            src="https://store-images.s-microsoft.com/image/apps.33967.13510798887182917.246b0a3d-c3cc-46fc-9cea-021069d15c09.392bf5f5-ade4-4b36-aa63-bb15d5c3817a"
          />
        </div>
        <div class="p-8">
          <div
            class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
          >
            woody-wood-wood
          </div>
          <a class="block mt-1 text-lg leading-tight font-medium text-black"
            >Share this QR-Code with your friends! After that, they will be able
            to run a spark for you!</a
          >
          <button
            class="py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 mt-8"
          >
            Copy code
          </button>
        </div>
      </div>
    </div>

    <div class="max-w-md mx-auto mb-0 bg-white rounded-xl shadow-md md:max-w-2xl">
      <div class="mx-7 mt-4">
        <div
          class="pt-4 pb-4 uppercase tracking-wide text-sm text-indigo-500 font-semibold text-3xl"
        >
          Spark
        </div>

        <form>
          <div
            class="pb-2 uppercase tracking-wide text-sm text-indigo-500 font-semibold text-2xl"
          >
            Upload Binary
          </div>

          <input type="file" name="filename" />
          <div
            class="pb-2 uppercase tracking-wide text-sm text-indigo-500 font-semibold text-2xl"
          >
            Upload JSON or enter below
          </div>

          <input type="file" name="filename" />
          <textarea
            class="my-1.5 resize-none border rounded-md w-full h-36"
          ></textarea>
          <div class="text-right pb-4">
            <input
            type="submit" value="Execute"
            class="w-36 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75"
          >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
