<div class="relative sm:max-w-xl sm:mx-auto">
  <div
    class="max-w-md mx-auto bg-white rounded-xl shadow-2xl overflow-hidden md:max-w-2xl"
  >
    <div class="sm:mx-auto md:flex">
      <div class="p-4 w-full">
        <div class="text-3xl tracking-wide text-xs text font-semibold">
          Details
        </div>

        <div class="flex flex-row text-gray-400">
          <div class="mr-2">Spark: <code>cd23o3p9</code></div>
          <div class="mr-2">Today at 2:40 PM</div>
          <div></div>
        </div>

        <div class="text-blue-500 py-2 hover:underline w-36 cursor-pointer">
          Back to dashboard
        </div>
      </div>
    </div>
  </div>

  <div
    class="my-4 max-w-md mx-auto bg-white rounded-xl shadow-2xl overflow-hidden md:max-w-2xl"
  >
    <div class="md:flex sm:mx-auto">
      <div class="w-full">
        <div class="text-gray-700 p-4">
          <div>
            <div
              class="pb-2 tracking-wide text-sm text-black font-semibold text-3xl"
            >
              Output
            </div>
            <div class="flex justify-end">
              <div class="text-right pr-2">
                <label
                  class="py-0.5 my-2.5 px-2 w-18 h-6 text-xs text-blue-700 font-semibold focus:outline-none focus:ring focus:border-blue-200 rounded shadow-md border border-blue-700 bg-white rounded-md cursor-pointer"
                >
                  <button class="focus:outline-none text-center w-20 h-6">
                    📥 Download
                  </button>
                </label>
              </div>
              <div class="text-right">
                <label
                  class="py-0.5 my-2.5 px-2 w-18 h-6 text-xs text-blue-700 font-semibold focus:outline-none focus:ring focus:border-blue-200 rounded shadow-md border border-blue-700 bg-white rounded-md cursor-pointer"
                >
                  <button class="focus:outline-none text-center w-20 h-6">
                    📋 Copy Code
                  </button>
                </label>
              </div>
            </div>

            <div class="my-2 bg-black rounded-md text-white py-2 px-2 text-xs">
<pre>{"menu": {
  "id": "file",
  "value": "File",
  "popup": {
    "menuitem": [
      {"value": "New", "onclick": "CreateNewDoc()"},
      {"value": "Open", "onclick": "OpenDoc()"},
      {"value": "Close", "onclick": "CloseDoc()"}
    ]
  }
}}</pre
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="my-4 max-w-md mx-auto bg-white rounded-xl shadow-2xl overflow-hidden md:max-w-2xl"
  >
    <div class="md:flex sm:mx-auto">
      <div class="w-full">
        <div class="text-gray-700 p-4">
          <div>
            <div
              class="pb-2 tracking-wide text-sm text-black font-semibold text-3xl"
            >
              Logs
            </div>
            <div class="flex justify-end">
              <div class="text-right pr-2">
                <label
                  class="py-0.5 my-2.5 px-2 w-18 h-6 text-xs text-blue-700 font-semibold focus:outline-none focus:ring focus:border-blue-200 rounded shadow-md border border-blue-700 bg-white rounded-md cursor-pointer"
                >
                  <button class="focus:outline-none text-center w-20 h-6">
                    📥 Download
                  </button>
                </label>
              </div>
              <div class="text-right">
                <label
                  class="py-0.5 my-2.5 px-2 w-18 h-6 text-xs text-blue-700 font-semibold focus:outline-none focus:ring focus:border-blue-200 rounded shadow-md border border-blue-700 bg-white rounded-md cursor-pointer"
                >
                  <button class="focus:outline-none text-center w-20 h-6">
                    📋 Copy Code
                  </button>
                </label>
              </div>
            </div>

            <div class="my-2 bg-black rounded-md text-white py-2 px-2 text-xs">
              <pre>11:53:01 PM:&#09;[Info]&#09;Build ready to start</pre>
              <pre>11:53:03 PM:&#09;[Info]&#09;build-image version: 1.0.10</pre>
              <pre class="text-red-500">11:53:04 PM:&#09;[Fatal]&#09;Java was detected</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
