<div class="h-screen background">
  <div class="mx-auto border-b-2 border-indigo-100 p-5">
    <nav class="flex-column flex-start">
      <div class="flex flex-row flex-start">
        <p id="hamburgerbtn" class="md:hidden text-white">Menu</p>
      </div>

      <ul class="hidden md:flex md:flex-row" id="mobileMenu">
        <li class="pr-5 text-white"><a>Overview</a></li>
        <li class="pr-5 text-white"><a>Explorer</a></li>
        <li class="pr-5 text-white"><a>Config</a></li>
      </ul>
    </nav>
  </div>
</div>

<style>
  .active {
    display: block;
  }
</style>

<script>
  let hamburger = document.getElementById("hamburgerbtn");

  let mobileMenu = document.getElementById("mobileMenu");

  hamburger.addEventListener("click", function () {
    mobileMenu.classList.toggle("active");
  });
</script>
